/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn_blue{
    background-color: #0061ff;
    border: 1px solid #0061ff;
    color: white;
    font-size: 20px;
}
.btn_small{
    padding:  5px 20px;
}
.btn_medium{
    padding: 10px 30px;
}
.btn_big{
    width: 100%;
    padding: 10px 0;
}
.font_smaller{
    font-size: 15px;
}
.align_center{
    align-items: center;
}
.margin_top_20{
    margin-top: 20px;
}
hr{
    margin: 40px 0;
    width: 30%;
}
i{
    margin-right: 10px;
}

/* struttura nav_bar */
.col_nav{
    width: calc(100% / 2);
    padding: 20px 0;
}
.nav_sx, .nav_dx{
    display: flex;
    align-items: center;
}
.nav_sx{
    justify-content: flex-start;
}
.nav_dx{
    justify-content: flex-end;
}

/* struttura jumbotron */
.background_jumbotron{
    background-color: lightblue;
}
.container_jumbotron{
    width: 80%;
    margin: 0 auto 200px; 
}
.col_jumbotron_title{
    margin: 40px 0 60px;
}
.col_jumbotron_text{
    width: 34%;
}
.col_jumbotron_img{
    width: 65%;
}

/* struttura main */
.main_container{
    width: 70%;
    margin: 0 auto;
}
.col_tariffe{
    width: 30%;
}
.contatti_vendite{
    background-color: cyan;
    border: 1px dashed black;
    height: 200px;
    width: 100%;
    margin-bottom: 200px;  
}
.partner_dropbox_img{
    width: 59%;
    height: 400px;
    background-color: blue;
}
.partner_dropbox_text{
    width: 39%;
    height: 400px;
    background-color: pink;
}
.container_dropbox_business_title{
    background-color: aquamarine;
    height: 50px;
    width: 100%;
    margin: 100px 0 20px;
}
.col_30{
    width: 30%;
    height: 200px;
    background-color: green;
    border: 1px dashed black;
    height: 500px;
}
.col_dropbox_client{
    background-color: aquamarine;
    height: 300px;
    width: 100%;
    margin: 100px 0 20px;
}
.col_grid{
    width: calc(100% / 3);
    background-color: gray;
    height: 500px;
    border: 1px dashed black;
}
.logo_grid{
    width: 100%;
    height: 100%;
}
.single_logo{
    width: 50%;
    height: 250px;
    background-color: purple;
    border: 1px dashed black;    
}
.blue_container{
    background-color: aquamarine;
    padding: 40px 0; 
}
.prova_container{
    height: 300px;
    width: 80%;  
    margin: 0 auto;
    background-color: antiquewhite; 
}
.faq_title{
    background-color: cornflowerblue;
    height: 100px;
    width: 100%; 
    margin: 20px 0 
}
.faq_object{
    background-color: lightblue;
    height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%; 
}

/* struttura footer*/
footer{
    background-color: black;
    color: white;
}
.footer_container{
    width: 90%;
    margin: 0 auto;
}
.col_20{
    width: calc(100% / 5);
    height: 200px;
    margin: 20px;
    background-color: orange;
}

/* stile nav bar */
.col_nav li{
    list-style-type: none;
    color: gray;
    font-size: 15px;
    margin: 0 30px;
}
.col_nav ul{
    display: flex;
    align-items: center;
}

/* stile jumbotron */
.title_jumbotron {
    font-size: 80px;
    font-weight: bolder;
}
.jumbotron_text_paragraph{
    font-size: 20px;
}
.jumbotron_text_button{
    margin: 30px 0;
}
.jumbotron_text_backdrop{
    font-size: 100px;
    font-weight: bold;
    margin: 50px 0 10px;
}
.jumbotron_img{
    position: relative;
}
.jumbotron_img img{
    width: 100%;
    position: absolute;
}

/* stile main */
.col_intro_tariffe_title{
    font-weight: bold;
    font-size: 50px;
}
.buttons{
    display: flex;
    margin: 70px 0 40px;
}
.button{
    margin-right: 40px;
}
.n_persone{
    text-align: center;
    padding: 10px 0;
    border: 1px solid gray;
}
.container_interno_tabella{
    width: 80%;
    margin: 0 auto;
}
.container_esterno_tabella{
    border: 1px solid gray;
    border-top: 0px;
}
.container_interno_tabella li{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin: 10px 0;
}
.container_interno_tabella ul{
    margin-bottom: 50px;
}
.option{
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0 20px;
}
.price{
    font-weight: bold;   
}
.periodo{
    color: gray;
    margin: 10px 0 50px;
}
.tariffe_title_list{
    font-weight: bold;
}
.blue{
    color: #0061ff;
}